::ng-deep .p-steps {
    top: -80px;

    & ::ng-deep .p-steps-item {
        max-width: 99vw;
        background-color: rgb(0 0 255);
        border: 2px solid magenta;
        border-radius: 5px;

        &:before {
            border-top: 2px solid white;
            top: 40%;
        }


        & ::ng-deep .p-menuitem-link {
            background-color: transparent;
            font-size: 2.5rem;

            &:focus {
                border: transparent;
                outline: none;
            }

        }

        ::ng-deep .p-menuitem-link .p-steps-title {
            color: white;
            font-weight: 700;
            margin-top: 0;
        }

    }

    ::ng-deep .p-steps-item .p-menuitem-link .p-steps-number {
        color: mintcream;
        background-color: black;
        font-size: 3rem;
        width: 4rem;
        height: 4rem;
    }
}