<section>
    <p-table [value]="tableData" [rows]="5" [paginator]="paginatorActivator" [rowsPerPageOptions]="[2, 5, 10, 25]">
        <ng-template pTemplate="header">
            <tr>
                <th class="confirm-attendance-header">Confirmar Consulta</th>
                <th class="delete-schedule-header">Deletar Consulta</th>
                <th class="delete-schedule-header">Status</th>
                <th>Nome</th>
                <th>Data / Hora</th>
                <th class="phone-header">Cel</th>
                <th>Modelo</th>
                <th>Local</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td class="table-confirm-button-container {{data.status == 'Confirmado' ? 'confirmed' : ''}}"><app-button-component (click)="confirmSchedule(data)" buttonType="confirm-schedule-button"/></td>
                <td class="table-delete-button-container {{data.status == 'Confirmado' ? 'confirmed' : ''}}"><app-button-component (click)="cancelSchedule(data)" buttonType="remove-schedule-button" /></td>
                <td class="{{data.status == 'Confirmado' ? 'confirmed' : ''}}">{{ data.status }}</td>
                <td class="{{data.status == 'Confirmado' ? 'confirmed' : ''}}">{{ data.name }}</td>
                <td class="{{data.status == 'Confirmado' ? 'confirmed' : ''}}">{{ data.date | date: 'dd/MM/yy HH:mm' }}</td>
                <td class="phone-data {{data.status == 'Confirmado' ? 'confirmed' : ''}}">{{ data.phone }}</td>
                <td class="{{data.status == 'Confirmado' ? 'confirmed' : ''}}">{{ data.paymentType }}</td>
                <td class="{{data.status == 'Confirmado' ? 'confirmed' : ''}}">{{ data.location }}</td>
            </tr>
        </ng-template>
    </p-table>
</section>