:host ::ng-deep {

    .p-datatable-table {
        width: 100vw;
    }

    .p-datatable-thead {
        width: 100%;
        font-size: 2rem;

        .confirm-attendance-header, .undo-action-header, .delete-schedule-header, .name-header, .phone-header,
        .model-header, .location-header, .date-hour-header {
            text-align: center;
        }
    }
    
    .date-hour-header {
        white-space: nowrap;
    }

    .p-element .p-datatable-tbody {
        font-size: 1.6rem;
        cursor: pointer;
        transition: 200ms;
        
        :hover {
            background-color: #dbdada;
        }

        tr > td {
            text-align: center;
            letter-spacing: 0.1rem;
            font-weight: bold;

            ::ng-deep .p-calendar .p-inputtext{
                width: 20rem;
                height: 5rem;
                border: 3px solid #69cf99;
                font-size: 2rem;
                text-align: center;
            }

            ::ng-deep .p-calendar .p-datepicker-prev {
                width: 3rem;
                height: 3rem;

                .p-datepicker-prev-icon {
                    width: 5rem;
                    height: 5rem;
                }
            }

            ::ng-deep .p-calendar .p-datepicker-next {
                width: 3rem;
                height: 3rem;

                .p-datepicker-next-icon {
                    width: 5rem;
                    height: 5rem;
                }
            }

            ::ng-deep .p-calendar .p-datepicker-title {
                width: 30rem;
                display: flex;
                justify-content: space-evenly;


                button {
                    font-size: 2rem;
                }
            }

            ::ng-deep .p-calendar .p-datepicker-calendar {
                width: 35rem;
                font-size: 1.9rem;
                margin: 0 auto
            }

            ::ng-deep .p-dropdown {
                width: 25rem;
                height: 5rem;
                border: 4px solid #69cf99;
                
                ::ng-deep .p-dropdown-label {
                    font-size: 2rem;
                    text-align: center;
                }

                .p-dropdown-trigger {
                 width: 3rem;
                 height: 3rem;
                 margin: 1rem 0.5rem 0 0;

                .p-dropdown-trigger-icon {
                    width: 3rem;
                    height: 3rem;
                    }
                 }

                  .p-dropdown-item {
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
        
        tr > .reschedulling-container-expanded {
            height: 40rem;
        }

        .confirmed {
            border-top: 2px solid greenyellow;
            border-bottom: 2px solid greenyellow;
        }

        .confirmed-nowrap {
            border-top: 2px solid greenyellow;
            border-bottom: 2px solid greenyellow;
            white-space: nowrap;
        }
        
        .nowrap {
            white-space: nowrap;
        }
    }

    .p-link {
        width: 4rem;
        height: 4rem;
        background-color: #dbdada;
    }

    .p-paginator-icon {
        width: 3rem;
        height: 3rem;
        color: #69cf99;
    }

    .p-paginator-pages {
        button {
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
        }
        
    }

    .p-paginator .p-dropdown {
        width: 7rem;
        height: 4rem;
        text-align: center;

        span {
            font-size: 2rem;
            text-align: center;
        }
    }
}