

.about-container {
    display: flex;
    justify-content: space-around;
    background-color: #DBDADA;
    height: 66rem;
    width: 100vw;

    .left-side {
        margin-top: 4rem;

        .profile-photo {
            border-radius: 100%;
            border: 3px solid #69cf99;
        }

        .photo-container {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;

            .profile-registry {
                font-size: 4rem;
                text-align: center;
                color: #827A7A;
                font-weight: 500;
            }
        }
    }

    .right-side {
        width: 84rem;
        margin-top: 9rem;

        .description-title {
            color: #3E3A3A;
            margin-bottom: 4rem;

            &.mobile {
                font-size: 1.9rem;
            }
            &.tablet {
                font-size: 8.5rem;
            }
            &.web-portrait {
                font-size: 9.8rem;
            }
            &.web-landscape {
                font-size: 10.2rem;
            }
        }

        .description-text {
            font-weight: bold;
            color: #3E3A3A;

            &.mobile {
                font-size: 1.9rem;
            }
            &.tablet {
                font-size: 2.3rem;
            }
            &.web-portrait {
                font-size: 3.1rem;
            }
            &.web-landscape {
                font-size: 3.5rem;
            }
        }
    }

}

h3 {
    font-size: 2rem;
}