:host ::ng-deep {
    .p-dialog {
       width: 105rem;
       height: 60rem;
       border: 4px solid #3cc97d;

       
       &.terapy-choose-modal {
        width: 120rem;
        height: 70rem;
        background-color: red;

        .p-dialog-content {
            display: flex;
            justify-content: left;
            align-items: initial;

            .image-container {
                margin: auto 0;
                width: 25rem;
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                margin-right: 12rem;

                .terapy-image {
                    border-radius: 11.9rem;
                    border: 5px solid #69cf99;
            }
        }

        .terapy-text-container {
            width: 75rem;
            height: 40rem;
            display: grid;
            grid-template-columns: 1fr;

            .terapy-description {
                color: #555454;
                font-weight: 600;
                font-size: 2.5rem;
            }

            .terapy-alert-container {
                display: grid;
                grid-template-columns: 1fr;
                color: red;
                font-weight: 600;
                font-size: 4.5rem;

                .terapy-alert-header {
                    color: black;
                    font-size: 3rem;
                }

                .terapy-alert-body-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .terapy-alert-text-body {
                    color: red;
                    font-size: 2.5rem;
                }
            }

            .terapy-question {
                font-weight: bold;
                color: black;
                font-size: 2.5rem;
            }

        }
    }
}

       &.success-scheduling-modal {
           width: 108rem;
           height: 70rem;
           border: 4px solid #3cc97d;
        }

       &.advance-payment-modal {
           width: 115rem;
           height: 77rem;
           border: 4px solid #3cc97d;
        }

       &.advance-payment-modal-with-no-fee {
           width: 115rem;
           height: 28rem;
           border: 4px solid #3cc97d;
        }

        &.login-modal {
            width: 55rem;
            height: 50rem;

            .p-dialog-title {
                font-size: 2rem;
            }

            span {
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                gap: 0.3rem;
                
                &.with-margin {
                    margin-top: 8rem;
                }
            }

                .field-label {
                    font-size: 3rem;
                    color: #69cf99;
                }

                #login-input {
                    width: 50rem;
                    height: 5rem;
                    border: 4px solid #69cf99;
                    border-radius: 5px;
                    font-size: 2rem;
                    text-align: center;

                    &::placeholder {
                        color: rgb(164, 160, 160);
                        font-size: 1.8rem;
                        }
                    }

                #recovery-password-input {
                    width: 50rem;
                    height: 5rem;
                    border: 4px solid #69cf99;
                    border-radius: 5px;
                    font-size: 2rem;
                    text-align: center;

                    &::placeholder {
                        color: rgb(164, 160, 160);
                        font-size: 1.8rem;
                        }
                    }
        }        

        .p-dialog-title {
           color: black;
           margin: 0 auto;
           font-size: 4.5rem;

        }
        
        .p-dialog-header-close-icon {
            width: 4rem;
            height: 4rem;
            color: red;
        }

       .p-dialog-content {
            display: flex;
            justify-content: space-around;
            align-items: initial;

            .image-container {
                margin: auto 0;
                width: 25rem;
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;

                .terapy-image {
                    border-radius: 11.9rem;
                    border: 5px solid #69cf99;
                }
            }

            .advance-payment-text-container {
                width: 97rem;
                height: 40rem;
                display: grid;
                grid-template-columns: 1fr;

                .payment-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    .payment-dropdown-container {
                        width: 50%;
                        display: grid;
                        grid-template-columns: 1fr;
                        justify-items: center;
                        margin-right: 2rem;
                        
                        .payment-field-label {
                            font-size: 3rem;
                            color: #69cf99;
                            white-space: nowrap;
                        }
                        
                        ::ng-deep .p-dropdown {
                            width: 38.3rem;
                            height: 5rem;
                            border: 4px solid #69cf99;
                            
                            ::ng-deep .p-dropdown-label {
                                font-size: 2.5rem;
                                text-align: center;
                                letter-spacing: 0.5rem;                        
                            }
        
                            .p-dropdown-trigger {
                             width: 3rem;
                             height: 3rem;
                             margin: 1rem 0.5rem 0 0;
         
                            .p-dropdown-trigger-icon {
                                width: 3rem;
                                height: 3rem;
                                }
                             }
        
                              .p-dropdown-item {
                                font-size: 2.5rem;
                                text-align: center;
                                letter-spacing: 0.5rem;
                            }
                        }

                    }

                    .payment-type-selected-container {
                        display: grid;
                        grid-template-columns: 1fr;

                        .credit-payment-container {
                            width: 50%;

                            .credit-payment-text {
                                font-size: 4rem;
                                font-weight: bold;
                            }
                        }

                        .pix-payment-container {
                            width: 50%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            .pix-payment-text {
                                font-size: 3rem;
                            }

                            .pix-payment-qr-code-text {
                                font-size: 2.5rem;
                                margin: 0 1rem 0 1rem;
                                white-space: nowrap;
                            }
                        }


                    }
                }

                .advance-description {
                    font-size: 3.5rem;
                }

                .payment-key {
                    font-size: 2.7rem;
                }
    
                .advance-question {
                    font-weight: bold;
                    color: black;
                    font-size: 3rem;
                }

            }  
            
            .sucess-terapy-scheduled-text-container {
                width: 84rem;
                height: 40rem;

                .scheduling-code {
                    font-size: 6rem;
                    text-align: center;
                    margin: 3rem 0 0 0;
                }
                .confirmation-description-second {
                    font-size: 5rem;
                    text-align: center;
                }
            }
       }
       .p-dialog-footer {
        display: flex;
        justify-content: space-around;
       }
    }
}