<p-dialog [styleClass]="'terapy-choose-modal ' + breakpoint" *ngIf="type == 'terapy-choose'" header="{{modalTerapyName}}" [(visible)]="terapyModalDisplay" (onHide)="closeTerapyModal()">

    <div [ngClass]="'dialog-content ' + breakpoint">
        <span class="image-container">
            <img class="terapy-image" src="{{terapyModalImage}}" alt="teste">
        </span>
    
        <div class="terapy-text-container">
            <p [ngClass]="'terapy-description ' + breakpoint">{{modalTerapyDescription}}</p>
            
            <span class="terapy-alert-container">
                <h1 class="terapy-alert-header">Como funciona?</h1>
    
                <div class="terapy-alert-body-container">
                    <p class="terapy-alert-text-body {{breakpoint}}">A seção tem valor único e abrange todas as terapias alternativas (no fluxo de alternativas) listadas nesta página. No início da seção será avaliada a necessidade do paciente e decidido quais terapias poderão ser utilizadas de acordo com a necessidade poderão ser combinadas mais de uma terapia.</p>
                </div>
    
            </span>
    
            <p class="terapy-question">
                Deseja confirmar e prosseguir para a tela de agendamento?
            </p>
        </div>
    </div>
    
    <ng-template pTemplate="footer">
        <app-button-component (click)="closeTerapyModal()" buttonType="backButton-modal" buttonLabel="Voltar" [breakpoint]="breakpoint"/>
        <app-button-component (click)="confirmTerapy()" buttonType="confirmButton-modal" buttonLabel="Confirmar"/>
    </ng-template>
</p-dialog>

<p-dialog 
    [styleClass]="type == 'advance-payment' && schedullingPaymentType.value == 'Particular' ? 'advance-payment-modal ' + breakpoint : 'advance-payment-modal-with-insurance ' + breakpoint"
    [header]="advanceModalHeader"
    [(visible)]="advanceModaldisplay"
    (onHide)="closeAdvanceModal()">

    <form
        #advanceContainerForm="ngForm"
        (ngSubmit)="validateForm(advanceContainerForm)"
        [ngClass]="schedullingPaymentType.value == 'Particular' ? 'advance-payment-text-container' : 'advance-payment-text-container-with-insurance' ">
        
        <p [ngClass]="schedullingPaymentType.value == 'Particular' ? 'advance-description ' + breakpoint : 'advance-description-with-insurance ' + breakpoint ">{{advanceDescription}} <b>{{advanceModalSchedullingFee}}</b></p>
       
        <h1>AQUI É O COMPONENTE DE PAGAMENTO:</h1>

        <app-checkout/>

        <p  class="advance-statement"
            *ngIf="schedullingPaymentType.value == 'Particular' ">
            Clique em "Concluir" abaixo. Assim que validarmos o pagamento vamos entrar em contato pelo Whatsapp e após sua confirmação, confirmaremos a consulta no sistema.
        </p>
        <p [ngClass]="schedullingPaymentType.value == 'Particular' ? 'advance-warn ' + breakpoint : 'advance-warn-with-insurance ' + breakpoint ">Em caso de cancelamento ou adiamento de consulta com menos de 24 horas de atecedência sem comprovação de justificativa, resultará na retenção de 50% do valor de agendamento.</p>
        
        <div class="consent-container">
            <input required [(ngModel)]="checked" class="consent-checkbox" type="checkbox" name="consent">
            <p [ngClass]="'consent-text ' + breakpoint">Para finalizar o agendamento, você precisa concordar com nossos termos de serviço. Seus dados serão processados apenas para fins de agendamento e autenticação.</p>
        </div>

        <footer class="buttons-container">
            <app-button-component [breakpoint]="breakpoint" (click)="closeAdvanceModal()" buttonType="backButton-modal" buttonLabel="Voltar"/>
            <app-button-component [breakpoint]="breakpoint" [isSubmitButtonDisabled]="advanceContainerForm.form.status == 'INVALID'" buttonType="confirmButton-advanceModal" buttonLabel="Concluir"/>
        </footer>
    </form>
    

</p-dialog>

<p-dialog [styleClass]="type == 'success-terapy-scheduled' ? 'success-scheduling-modal' : ''" id="success-modal" *ngIf="type == 'success-terapy-scheduled'" header="Sucesso!" [(visible)]="successScheduleModalDisplay" (onHide)="closeSuccessSchedullingModal()">

    <div class="sucess-terapy-scheduled-text-container">
        <p class="scheduling-code">Anote o código do seu agendamento, ele será útil caso precise adiar ou cancelar a consulta: <b>{{scheduleCode}}</b></p>
        <p class="confirmation-description-second">Agradecemos a preferência 🎉🎉🎉</p>
    </div>
    
    <ng-template pTemplate="footer">
        <app-button-component (click)="closeAndBackToHome()" buttonType="back-to-initial-page-button" buttonLabel="Voltar ao Início"/>
        <app-button-component (click)="confirmTerapy()" buttonType="go-to-shedule-page-button" buttonLabel="Fechar"/>
    </ng-template>
</p-dialog>

<p-dialog [styleClass]="loginModalDisplay ? 'login-modal' : ''" *ngIf="type == 'login'" header="Digite a Senha para acessar a tela de programações" 
    [(visible)]="loginModalDisplay" (onHide)="closeLoginModal()">

    <main class="login-field-container">
        <span class="with-margin">
            <label class="field-label" for="login-input">Senha</label>
            <input id="login-input" type="password" pInputText [(ngModel)]="loginInputFieldValue" placeholder="Ex: Bneves552233@"/>
            <label class="field-label" htmlFor="recovery-password-input" *ngIf="displayRecoveryPasswordInput">Código</label>
            <input id="recovery-password-input" type="text" pInputText [(ngModel)]="recoveryFieldCodeValue" placeholder="Ex: Digite o código de 4 dígitos" *ngIf="displayRecoveryPasswordInput"/>
        </span> 
    </main>
    
    <ng-template pTemplate="footer">
        <app-button-component (click)="displayRecoveryPasswordField()" buttonType="confirm-login-button" buttonLabel="Digitar Código para recuperar senha"/>
        <app-button-component (click)="signIn()" (click)="onFinishScheduleModal()" buttonType="try-password-recovery-button" buttonLabel="Entrar"/>
    </ng-template>
</p-dialog>
