<div class="card flex justify-content-center">
        <div class="background-overlay">

            <div class="info-container">
                <img src="../assets/imgs/suction_cup_tp_small.png" alt="Imagem de terapia fisioterapêutica"/>
                <p class="service-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

            <div class="control-container">
                <span style="font-size: 3em; color: white;"><fa-icon [icon]="backIcon"></fa-icon></span>
                <button pButton pRipple type="button" label="Selecionar" class="select-button"></button>
            </div>

        </div>
</div>