<div class="programming-page">

    <section class="featured-programmings">

        <div class="card-container">
            <h1 class="card-header">
                Consulta Mais Recente
            </h1>
            <p class="patient-name">
                    Patrício Da Silva
            </p>
            <div class="info-blocks-container">
                <div class="info-block">62 Anos</div>
                <div class="info-block">09/09/2024</div>
            </div>
        </div>

        <div class="card-container">
            <h1 class="card-header">
                Próxima Consulta
            </h1>
            <p class="patient-name">
                    Karla Santana de Arruda
            </p>
            <div class="info-blocks-container">
                <div class="info-block">12/11/2024 - 10:15</div>
                <div class="info-block">43 Anos</div>
                <div class="info-block">Local: Sítio Fragoso, Rio Doce</div>
            </div>
        </div>

        <div class="card-container">
            <h1 class="card-header">
                Mais Atendido
            </h1>
            <p class="patient-name">
                    Juvenilson Arantes Filho
            </p>
            <div class="info-blocks-container">
                <div class="info-block">70 Anos</div>
                <div class="info-block">Convênio</div>
                <div class="info-block">Consulta mais Recente: 08/07/2024</div>
            </div>
        </div>

    </section>

    <section class="table-section">      
        <app-data-table [dataTableType]="'programming-table'" [tableData]="tableDataBody"/>
    </section>

    <!-- TODO: Criar página (componente) que será o Footer do Site  -->

</div>
