::ng-deep {
    .home-container {
        width: 100vw;
        height: 70vh;
        background-color: #dbdada;
        display: grid;
        justify-items: center;
        align-items: center;

        .presentation-container {
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 7rem;

            .name-text {
                color: #555454;

                &.mobile {
                    font-size: 8.8rem;
                }
                &.tablet {
                    font-size: 10rem;
                }
                &.web-portrait {
                    font-size: 11rem;
                }
                &.web-landscape {
                    font-size: 13rem;
                }
            }
    
            .registry-text {
                color: #555454;
                font-size: 7rem;

                
                &.mobile {
                    font-size: 5rem;
                }
                &.tablet {
                    font-size: 6rem;
                }
                &.web-portrait {
                    font-size: 7rem;
                }
                &.web-landscape {
                    font-size: 8rem;
                }
            }
        }

    }
}