<div class="home-container">
    <div class="left-side">
        <span class="photo-container"><img class="profile-photo" src="../../../assets/dra-ana.jpg" alt="imagem da Doutora Ana Beatriz">
            <h3 class="profile-registry">CREFITO: 356998</h3>
            <app-button-component buttonType="medicalContactButton" buttonLabel="FALE COM A FISIOTERAPEUTA"/>
        </span>
        
    </div>

    <div class="right-side">
        <h1 class="description-title">Olá</h1>
        <p class="description-text">
            {{description}}
        </p>
    </div>

</div>
