<div class="home-container">
    <div class="left-side">
        <span class="photo-container"><img class="profile-photo" src="../../../assets/dra-ana.jpg" alt="imagem da Doutora Ana Beatriz">
            <h3 class="profile-registry">CREFITO: 356998</h3>
            <app-button-component/>
        </span>
        
    </div>

    <div class="right-side">
        <h1 class="description-title">Olá</h1>
        <p class="description-text">
            Me chamo Ana Beatriz, sou formada em fisioterapia e estou me especializando em disfunções do assoalho pélvico e obstetrícia e essas são as áreas que atuo: Doulagem, liberação miofascial, Auriculoterapia, Ventosaterapia, Dry needling, Fisioterapia pélvica.
        </p>
    </div>
</div>
