::ng-deep {
    .home-container {
        width: 100vw;
        height: 70vh;
        background-color: #dbdada;
        display: grid;
        justify-items: center;
        align-items: center;

        .presentation-container {
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 7rem;

            .name-text {
                color: #555454;
                font-size: 13rem;
            }
    
            .registry-text {
                color: #555454;
                font-size: 7rem;
            }
        }

    }
}