<section *ngIf="!isReschedullingFieldActive">
    <p-table [value]="tableData" [rows]="2" [paginator]="paginatorActivator" [rowsPerPageOptions]="[2, 5, 10, 25]">
        <ng-template pTemplate="header">
            <tr *ngFor="let data of tableData">
                <th [ngClass]="'delete-schedule-header ' + breakpointActive">Status</th>
                <th [ngClass]="'name-header ' + breakpointActive">Nome</th>
                <th [ngClass]="'date-hour-header ' + breakpointActive">Data / Hora</th>
                <th [ngClass]="'phone-header ' + breakpointActive">Cel</th>
                <th [ngClass]="'model-header ' + breakpointActive">Modelo</th>
                <th [ngClass]="'location-header ' + breakpointActive">Local</th>
                <th [ngClass]="'location-header ' + breakpointActive">Cidade</th>
                <th *ngIf="data.attendanceAddress" [ngClass]="'location-header ' + breakpointActive">Endereço</th>
                <th [ngClass]="'confirm-attendance-header ' + breakpointActive">Reagendar Consulta</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr [ngClass]="'table-row-body ' + breakpointActive">
                <td [ngClass]="data.status == 'Confirmado' ? 'confirmed-nowrap ' + breakpointActive : 'nowrap ' + breakpointActive">{{ data.status }}</td>
                <td [ngClass]="data.status == 'Confirmado' ? 'confirmed ' + breakpointActive : ' ' + breakpointActive">{{ data.name }}</td>
                <td [ngClass]="data.status == 'Confirmado' ? 'confirmed-nowrap ' + breakpointActive : 'nowrap ' + breakpointActive">{{ data.attendanceDate | date: 'dd/MM/yy' }} <b>/</b> {{data.attendanceHour}}</td>
                <td [ngClass]="data.status == 'Confirmado' ? 'confirmed-nowrap ' + breakpointActive : 'nowrap ' + breakpointActive">{{ data.patientPhoneNumber }}</td>
                <td [ngClass]="data.status == 'Confirmado' ? 'confirmed ' + breakpointActive : ' ' + breakpointActive">{{ data.paymentType }}</td>
                <td [ngClass]="data.status == 'Confirmado' ? 'confirmed ' + breakpointActive : ' ' + breakpointActive">{{ data.attendanceCity }}</td>
                <td [ngClass]="data.status == 'Confirmado' ? 'confirmed ' + breakpointActive : ' ' + breakpointActive">{{ data.attendanceLocation }}</td>
                <td *ngIf="data.attendanceAddress" [ngClass]="data.status == 'Confirmado' ? 'confirmed ' + breakpointActive : ' ' + breakpointActive">{{ data.attendanceAddress }}</td>
                <td class="{{isReschedullingFieldActive ? 'reschedulling-container-expanded' : ''}}" ngClass="table-confirm-button-container {{data.status == 'Confirmado' ? 'confirmed ' + breakpointActive : ' ' + breakpointActive}}">
                    <app-button-component *ngIf="!isReschedullingFieldActive" (click)="toggleReschedullingField()" buttonType="reschedulling-button"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>

<div *ngIf="isReschedullingFieldActive" [ngClass]="'rescheduleContainer ' + breakpointActive">
    <!-- TODO: Definir responsividade desse componente -->
    <h1 [ngClass]="'reschedule-title ' + breakpointActive">Reagendamento</h1>

    <div class="date-time-container">
        <p-calendar
            *ngIf="isReschedullingFieldActive"
            [ngClass]="'schedule-date-input ' + breakpointActive"
            dateFormat="dd/mm/yy"
            [disabledDates]="unavailableDates"
            [locale]="pt"
            placeholder="Escolha uma Data"
            (ngModelChange)="getUnavailableDates()"
            (onSelect)="activateAttendanceHourField()"
            [(ngModel)]="reschedullingDate">
        </p-calendar>
    
        <p-dropdown
            id="hour-dropdown"
            name="hour"
            [options]="availableHours"
            optionLabel="value"
            (onShow)="getAndSetAvailableHoursOptions()"
            [(ngModel)]="selectedHour"
            [disabled]="!attendanceIsChosen"
            placeholder="Escolha uma opção">    
        </p-dropdown>
    </div>

    <div class="action-container">
        <app-button-component *ngIf="isReschedullingFieldActive" (click)="toggleReschedullingField()" buttonType="deactivate-reschedulling-button"/>
        <app-button-component *ngIf="isReschedullingFieldActive && selectedHour" (click)="doRescheduleProgramming()" buttonType="confirm-reschedulling-button"/>
    </div>
</div>