<div class="terapies-page">
    <h1 class="first-header">{{headerOne}}</h1>

    <section class="terapies-container">
        <div class="terapies-grid-container" *ngFor="let terapy of alternativeTerapiesData$;">
            <span *ngIf="terapy.alternative && !displaySkeleton" class="terapies-grid-data">
                <img
                    *ngIf="!displaySkeleton"
                    class="terapy-image"
                    (click)="showModalAndGetImage(terapy.image, terapy.description, terapy.name)"
                    src="{{terapy.image}}"
                    alt="{{terapy.description}}"
                    pInputText
                    tooltipStyleClass="terapiesTooltip"
                    pTooltip="Clique na imagem para mais detalhes e agendamento."
                    tooltipPosition="top"
                    placeholder="Right">
                    <h2>{{terapy.name}}</h2>
                </span>
                <p-skeleton *ngIf="displaySkeleton" animation="wave" shape="circle" size="25rem" [style]="{'background-color': '#dbdada'}"></p-skeleton>
                <p-skeleton id="rectangle-skeleton" *ngIf="displaySkeleton" animation="wave" shape="rectangle" width="24.5rem" height="3rem" [style]="{'background-color': '#dbdada', 'margin-top': '1rem'}"></p-skeleton>
        </div>
    </section>

    <h1 class="second-header">{{headerTwo}}</h1>

    <section class="terapies-container">
        <div class="terapies-grid-container" *ngFor="let terapy of physioterapyTerapiesData$;">

            <span *ngIf="!terapy.alternative && !displaySkeleton" class="terapies-grid-data">
                <img
                    class="terapy-image"
                    (click)="showModalAndGetImage(terapy.image, terapy.description, terapy.name)"
                    src="{{terapy.image}}"
                    alt="{{terapy.description}}"
                    pInputText
                    tooltipStyleClass="terapiesTooltip"
                    pTooltip="Clique na imagem para mais detalhes e agendamento."
                    tooltipPosition="top"
                    placeholder="Right">
                <h2>{{terapy.name}}</h2>
            </span>
            <p-skeleton *ngIf="displaySkeleton" animation="wave" shape="circle" size="25rem" [style]="{'background-color': '#dbdada'}"></p-skeleton>
            <p-skeleton id="rectangle-skeleton" *ngIf="displaySkeleton" animation="wave" shape="rectangle" width="24.5rem" height="3rem" [style]="{'background-color': '#dbdada', 'margin-top': '1rem'}"></p-skeleton>
        </div>
    </section>

    <section class="search-schedule-container">
        <h1 class="search-schedule-header">Tem consulta agendada e gostaria de lembrar o horário ou reagendar? Faça uma busca no campo abaixo</h1>
        <p-inputMask
            id="search-schedule-input"
            inputId="stringonly"
            name="search-schedule"
            mask="999999"
            slotChar=""
            [(ngModel)]="searchProgrammingInputValue"
            (ngModelChange)="checkSearchFieldValue()"
            minLength="14"
            [required]="true"
            placeholder="Exemplo: 13578219">
        </p-inputMask>
        <h1 *ngIf="programmingNotFoundMessage" class="not-found-message">{{programmingNotFoundMessage}}</h1>
        <app-existing-programming-management *ngIf="programmingFound.length > 0" [tableData]="programmingFound" (onRescheduleProgramming)="setProgrammingFoundSkeletonDisplay($event)" />
        <p-skeleton id="rectangle-skeleton" *ngIf="programmingFoundSkeletonDisplay" animation="wave" shape="rectangle" width="273rem" height="17rem" [style]="{'background-color': '#dbdada', 'margin-top': '1rem'}"></p-skeleton>
    </section>

    <app-modal-component
        [type]="modalType"
        [terapyModalImage]="imageToShowOnModalOpen"
        [terapyModalDisplay]="displayModal"
        [modalTerapyName]="terapyName"
        [modalTerapyDescription]="terapyDescription"
        (onClose)="hideModal()"
        (onConfirmTerapy)="setModalConfirmationData($event)"/>
</div>