.terapies-page {
    display: grid;
    grid-template-columns: 1;
    justify-items: center;
    background-color: #E5E5E5;


    .first-header, .second-header {
        color: #555454;
        text-align: center;
        margin: 2rem 0 4rem 0;

        &.mobile {
            font-size: 2.2rem;
        }

        &.tablet {
            font-size: 3.5rem;
        }
 
        &.web-portrait {
            font-size: 4rem;
        }
        
        &.web-landscape {
            font-size: 5rem;
        }
    }

    .terapy-name {
        color: #555454;
        text-align: center;

        &.mobile {
            font-size: 1.8rem;
        }

        &.tablet {
            font-size: 2.2rem;
        }
 
        &.web-portrait {
            font-size: 3.5rem;
        }
        
        &.web-landscape {
            font-size: 4rem;
        }
    }

    .terapies-container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 3rem;

            .terapies-grid-data {
                display: grid;
                grid-template-columns: 1fr;

                .terapy-image {
                    border-radius: 11.9rem;
                    cursor: pointer;
                    margin: 0 auto;

                    &:hover {
                        border: 5px solid #69cf99;
                    }
                }
            }
        }

    .search-schedule-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 6rem;
        gap: 7rem;
        
        .search-schedule-header {
            color: #555454;
            text-align: center;
    
            &.mobile {
                font-size: 1.8rem;
            }
    
            &.tablet {
                font-size: 3rem;
            }
     
            &.web-portrait {
                font-size: 4rem;
            }
            
            &.web-landscape {
                font-size: 5.5rem;
            }
    }

        .search-schedule-input {

            ::ng-deep .p-inputtext {
                width: 100%;
                border-radius: 2rem;
                text-align: center;
            }
    
            input::placeholder {
                color: rgb(164, 160, 160);
            }

            &.mobile {
                width: 35rem;
                border: 4px solid #69cf99;
                border-radius: 2rem;
                text-align: center;

                input {
                    font-size: 1.6rem;
                }
                
                input::placeholder {
                    font-size: 1.6rem;
                }


            }
    
            ::ng-deep &.tablet {
                width: 50rem;
                border: 4px solid #69cf99;
                border-radius: 2rem;
                text-align: center;

                input {
                    font-size: 2.2rem;
                }
                
                input::placeholder {
                    font-size: 2.2rem;
                }
            }
     
            &.web-portrait {
                width: 60rem;
                border: 4px solid #69cf99;
                border-radius: 2rem;
                text-align: center;

                input {
                    font-size: 2.5rem;
                }

                input::placeholder {
                    font-size: 2.5rem;
                }

            }
            
            ::ng-deep &.web-landscape {
                width: 80rem;
                height: 7rem;
                border: 4px solid #69cf99;
                border-radius: 2rem;
                text-align: center;
    
                input {
                    font-size: 3.4rem;
                }
            }
    
            input::placeholder {
                font-size: 3.4rem;
                }
            }

            .not-found-message {
                color: red;

                &.mobile {
                    font-size: 2rem;
                }
        
                &.tablet {
                    font-size: 3rem;
                }
         
                &.web-portrait {
                    font-size: 4rem;
                }
                
                &.web-landscape {
                    font-size: 4.4rem;
                }
            }
    }


}


::ng-deep .p-tooltip .p-tooltip-text {
    width: 32rem;
    font-size: 2.2rem;
    color: #FFF;
}