.terapies-page {
    display: grid;
    grid-template-columns: 1;
    justify-items: center;
    background-color: #E5E5E5;

    .first-header, .second-header {
        font-size: 5.5rem;
        color: #555454;
        text-align: center;
        margin: 2rem 0 4rem 0;
    }

    h2 {
        font-size: 3rem;
        color: #555454;
        text-align: center;
    }

    .terapies-container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 3rem;

        .terapies-grid-container {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: space-around;

            .terapies-grid-data {
                display: grid;
                grid-template-columns: 1fr;

                .terapy-image {
                    border-radius: 11.9rem;
                    cursor: pointer;

                    &:hover {
                        border: 5px solid #69cf99;
                    }
                }
            }
        }
    }

}


::ng-deep .p-tooltip .p-tooltip-text {
    width: 32rem;
    font-size: 2.2rem;
    color: #FFF;
}