.header-nav {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;

    &.phone-portrait {
        align-items: baseline;
        max-height: 4rem;
        font-size: 1.8rem;
        background-color: blue;

        a {
            max-width: 12.5rem;
        }
    }

    &.large-device {
        align-items: center;
        height: 4rem;
        font-size: 3rem;
        background-color: greenyellow;

        a {
            max-width: 30rem;
        }
    }

    &.x-large {
        align-items: center;
        height: 4rem;
        font-size: 3.5rem;
        background-color: rgb(241, 167, 241);

        a {
            max-width: 30rem;
        }
    }

}

.home {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .profile-descriptions {
        display: flex;
        flex-direction: column;

        .profile-identification {
            width: 100%;
            display: grid;
            grid-template-columns: 56rem 2rem 12rem 12rem;
            justify-items: center;

            &.phone-portrait {
                font-size: 1.8rem;
            }

            &.large-device {
                font-size: 3rem;

            }

            &.x-large {
                font-size: 3.5rem;

                .profile-name {
                    max-width: 96rem;
                }

                .profile-registry {
                    max-width: 13rem;
                }

                .profile-id {
                    max-width: 12rem;
                    color: green;
                }
            }
        }

        .medical-specialty {
            max-width: 35rem;

            &.phone-portrait {
                font-size: 1.8rem;
            }

            &.large-device {
                font-size: 2.5rem;
            }

            &.x-large {
                font-size: 3rem;
            }

        }

    }

    .profile-photo-container {
        img {
            border: 2px solid black;
            border-radius: 50%;
            max-height: 50rem;
        }
    }

}