<header id="header">
    <nav class="header-nav" [class]="getBreakpoints()">
        <a>Contato</a>
        <a>Serviços</a>
        <a>Sobre Mim</a>
        <a>Biografia</a>
    </nav>
</header>

<section class="home" [class]="getBreakpoints()">
    
    <div class="profile-descriptions">
        <span class="profile-identification">
            <p>Dra. Ana Beatriz Das neves Callado - Crefito</p>
            <p class="profile-id">995599</p>
        </span>

        <p>Médica Fisioterapeuta</p>
    </div>
    
</section>