.phone-portrait-header,
.large-device-header,
.x-large-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.phone-portrait-header {
    align-items: baseline;
    max-width: 127.9rem;
    max-height: 4rem;
    font-size: 1.8rem;
    background-color: blue;

    a {
        max-width: 12.5rem;
    }
}

.large-device-header {
    align-items: center;
    max-width: 191rem;
    height: 4rem;
    font-size: 3rem;
    background-color: greenyellow;

    a {
        max-width: 30rem;
    }
}

.x-large-header {
    align-items: center;
    max-width: 288rem;
    height: 4rem;
    font-size: 4rem;
    background-color: rgb(241, 167, 241);
}