<header id="header">
    <nav class="header-nav" [class]="getBreakpoints()">
        <a>Contato</a>
        <a>Serviços</a>
        <a>Sobre Mim</a>
        <a>Biografia</a>
    </nav>
</header>

<section class="home" [class]="getBreakpoints()">
    
    <div class="profile-descriptions">
        <span class="profile-identification" [class]="getBreakpoints()">
            <p class="profile-name">Dra. Ana Beatriz - </p>
            <p class="medical-specialty" [class]="getBreakpoints()">Médica Fisioterapeuta</p>
        </span>

        <span class="medical-specialty-container">
            <!-- TODO: adicionar diretiva condicional para 3 tags img, cada uma vai renderizar a imagem da cobra com um tamanho diferente -->
            <img src="{{getMedicineImageByScreenSize()}}" alt="ícone de medicina cobra"/>
        </span>
    </div>
    

    <div class="profile-photo-container" [class]="getBreakpoints()">
        <img class="profile-medical-photo" src="{{getProfileImageByScreenSize()}}" alt="Foto de Ana Beatriz">
    </div>

</section>