.header-nav {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;

    &.phone-portrait {
        align-items: baseline;
        max-height: 4rem;
        font-size: 1.8rem;
        background-color: blue;

        a {
            max-width: 12.5rem;
        }
    }

    &.large-device {
        align-items: center;
        height: 4rem;
        font-size: 3rem;
        background-color: greenyellow;

        a {
            max-width: 30rem;
        }
    }

    &.x-large {
        align-items: center;
        height: 4rem;
        font-size: 3.5rem;
        background-color: rgb(241, 167, 241);

        a {
            max-width: 30rem;
        }
    }

}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    &.phone-portrait {
        max-width: 59.9rem;
    }

    &.large-device {
        max-width: 178rem;
    }

    &.x-large {
        max-width: 192rem;
    }

    .profile-descriptions {
        display: flex;
        flex-direction: column;
        align-items: center;

        ::ng-deep img {}

        .profile-identification {

            &.phone-portrait {
                max-width: 15rem;
                display: grid;
                grid-template-columns: 1fr;

                .profile-name {
                    font-size: 0.8rem;
                }
            }

            &.large-device {
                max-width: 31rem;
                display: grid;
                grid-template-columns: 1fr;

                .profile-name {
                    font-size: 2.5rem;
                }
            }

            &.x-large {
                max-width: 54rem;
                display: grid;
                grid-template-columns: 1fr;

                .profile-name {
                    font-size: 3rem;
                }
            }


            .medical-specialty {
                &.phone-portrait {
                    font-size: 1rem;
                }

                &.large-device {
                    font-size: 2.5rem;
                }

                &.x-large {
                    font-size: 3rem;
                }
            }
        }
    }
}

.profile-photo-container {

    &.phone-portrait {
        ::ng-deep img {
            border: 2px solid black;
            border-radius: 15px;
            max-width: 13rem;
        }
    }

    &.large-device {
        ::ng-deep img {
            border: 2px solid black;
            border-radius: 15px;
            max-width: 40rem;
        }
    }

    &.x-large {
        ::ng-deep img {
            border: 2px solid black;
            border-radius: 15px;
            max-width: 50rem;
        }
    }
}