<app-terapies id="terapies" (onTerapyConfirmed)="showSchedullingPage($event)" (onSetTerapyType)="setTerapyType($event)" />
<app-home/>
<app-scheduling
id="schedulling"
(onClickBack)="hideSchedullingPage($event)"
(onFinishSchedule)="hideSchedullingPage($event)"
[isAPhysioTerapyType]="isTerapySelectedPhysioterapyType"
*ngIf="displaySchedullingPage"
/>
<app-programmings
id="programmings"
[tableDataHeaders]="headers"
[tableDataBody]="programmings"
*ngIf="displayProgrammingsPage"
/>
<app-modal-component
[type]="'login'"
[loginModalDisplay]="displayLoginModal"
(onClose)="hideModal()"
(onSignIn)="doSignIn($event)"
*ngIf="modalDisplayRule"
/>
