<div class="scheduling-page">
    <h1>Estamos quase lá, precisamos apenas de alguns dados...</h1>

    <form #scheduleForm="ngForm" class="form-container" (ngSubmit)="goToFinishSchedule(scheduleForm)" (change)="logForm(scheduleForm)">
        <div class="client-data-container">

            <span class="client-data-field-container">
                <label class="field-label" for="name-input">Informe seu Nome</label>
                <input
                    id="name-input"
                    type="text"
                    name="name"
                    pInputText
                    [(ngModel)]="nameInputValue"
                    required
                    minlength="4"
                    placeholder="Conceição Maria das Dores"
                    />
            </span>
            <span>
                <label class="field-label" for="schedule-date-input">Escolha uma Data</label>
                <p-calendar
                    id="schedule-date-input"
                    inputId="schedule-date-input"
                    name="date"
                    dateFormat="dd/mm/yy"
                    [locale]="pt"
                    placeholder="Escolha uma opção"
                    [(ngModel)]="attendanceDate"
                    [required]="true">
                </p-calendar>
            </span>
           
            <span>
                <label class="field-label" for="hour-dropdown">Escolha um Horário</label>
                <p-dropdown
                    id="hour-dropdown"
                    name="hour"
                    [options]="availableHours"
                    optionLabel="value"
                    [(ngModel)]="selectedHour"
                    [required]="true"
                    placeholder="Escolha uma opção">    
                </p-dropdown>
            </span>

            <span>
                <label class="field-label" for="gender-dropdown">Informe seu Gênero</label>
                <p-dropdown
                    id="gender-dropdown"
                    name="gender"
                    [options]="genderList"
                    optionLabel="gender"
                    [(ngModel)]="selectedGender"
                    [required]="true"
                    placeholder="Escolha uma opção">
                </p-dropdown>
            </span>

            <span class="with-margin">
                <label class="field-label" for="integeronly">Telephone</label>
                <p-inputMask
                    id="phone-input"
                    inputId="integeronly"
                    name="phone"
                    mask="(99)99999-9999"
                    [(ngModel)]="phoneInputValue"
                    minLength="14"
                    [required]="true"
                    placeholder="(81)98593-4271">
                </p-inputMask>              
            </span>

            <span class="with-margin">
                <label class="field-label" for="payment-type-dropdown">Modelo de Agendamento</label>
                <p-dropdown
                    id="payment-type-dropdown"
                    name="paymentType"
                    (onChange)="onChangePaymentType($event)"
                    [options]="paymentTypeList"
                    optionLabel="type"
                    [(ngModel)]="paymentTypeSelected"
                    placeholder="Escolha uma opção"
                    [required]="true">
                </p-dropdown>
            </span>

            <span class="with-margin">
                <label class="field-label" for="insurance-dropdown">Informe o Plano de Saúde</label>
                <p-dropdown
                    id="insurance-dropdown"
                    name="insurance"
                    [options]="insuranceList"
                    optionLabel="insurance"
                    [(ngModel)]="InsuranceSelected"
                    placeholder="Escolha uma opção"
                    [disabled]="!isInsuranceAsPayment"
                    [required]="isInsuranceAsPayment">
                </p-dropdown>
            </span>

            <span class="with-margin">
                <label class="field-label" for="location-attendance-dropdown">Local de Atendimento</label>
                <p-dropdown
                    id="location-attendance-dropdown"
                    name="location"
                    [options]="attendanceLocationList"
                    optionLabel="location"
                    (onChange)="changeAttendanceLocation()"
                    placeholder="Escolha uma opção"
                    [(ngModel)]="attendanceLocationSelected"
                    [required]="true">
                </p-dropdown>
            </span>

            <span class="with-margin">
                <label class="field-label" for="name-input">Cidade onde será o atendimento</label>
                <p-dropdown
                    id="location-attendance-dropdown"
                    name="city"
                    [options]="attendanceCityList"
                    optionLabel="city"
                    [(ngModel)]="attendanceCitySelected"
                    placeholder="Escolha uma opção"
                    [disabled]="!isMyLocationSelected"
                    [required]="attendanceLocationSelected?.location == 'No endereço de minha preferência' ? true : false">
                </p-dropdown>
            </span>

            <span class="with-margin">
                <label class="field-label" htmlFor="name-input">Endereço de atendimento</label>
                <input
                id="address-input"
                name="address"
                type="text"
                pInputText
                placeholder="Ex: Rua João Inácio, número 500. Pina, Recife."
                [(ngModel)]="addressInputValue"
                [disabled]="!isMyLocationSelected"
                minlength="15"
                [required]="attendanceLocationSelected?.location == 'No endereço de minha preferência' ? true : false">
            </span>

        </div>

        <app-modal-component
            *ngIf="displayAdvanceModal"
            [type]="'advance-payment'"
            [advanceModaldisplay]="displayAdvanceModal"
            (onCloseAdvanceModal)="handleAdvanceModal($event)"
            (onConfirmAdvanceModal)="handleAdvanceModal($event)"
            [chosenSchedullingCity]="schedullingCity"
            [advanceModalSchedullingFee]="schedullingFee"
        />
        <app-modal-component
            [type]="'success-terapy-scheduled'"
            [successScheduleModalDisplay]="displaySuccessScheduleModal"
            (onClose)="hideFinishScheduleModal()"
            (onCloseAndBackToHome)="closeSucessModalAndBackHome($event)"
            />

            <footer class="buttons-container">
                <app-button-component (click)="onClickBackButton()" buttonType="backButton-modal" buttonLabel="Voltar para a tela de Terapias"/>
                <app-button-component [isSubmitButtonDisabled]="false" buttonType="submitButton" buttonLabel="Ir para Finalização de Agendamento"/>
            </footer>
        </form>

</div>