<div class="scheduling-page">
    <h1 [ngClass]="'schedulling-title ' + breakpoint">Estamos quase lá, precisamos apenas de alguns dados...</h1>

    <form #scheduleForm="ngForm" class="form-container" (ngSubmit)="goToSchedullingLastStep(scheduleForm)">
        <div [ngClass]="'client-data-container ' + breakpoint">

            <span class="client-data-field-container">

                <label [ngClass]="'field-label ' + breakpoint" for="name-input">Informe seu Nome</label>
                <input
                    [ngClass]="'name-input ' + breakpoint"
                    type="text"
                    name="name"
                    pInputText
                    [(ngModel)]="nameInputValue"
                    required
                    minlength="4"
                    placeholder="Conceição Maria das Dores"
                    />
            </span>

            <!-- <span class="client-data-field-container">

                <label class="field-label" for="stringonly">CPF para Confirmação</label>
                    <p-inputMask
                    id="cpf-input"
                    inputId="stringonly"
                    name="cpf"
                    mask="999.999.999-99"
                    [(ngModel)]="cpfInputValue"
                    minLength="14"
                    [required]="true"
                    placeholder="053.724.984-31">
                </p-inputMask>      
            </span> -->

            <span>
                <label [ngClass]="'field-label ' + breakpoint" for="schedule-date-input">Escolha uma Data</label>
                <p-calendar
                    inputId="schedule-date-input"
                    [inputStyleClass]="'date-input ' + breakpoint"
                    name="date"
                    dateFormat="dd/mm/yy"
                    [disabledDates]="unavailableDates"
                    [locale]="pt"
                    placeholder="Escolha uma opção"
                    [(ngModel)]="attendanceDate"
                    (ngModelChange)="getUnavailableDates()"
                    (onSelect)="activateAttendanceHourField()"
                    [required]="true">
                </p-calendar>
            </span>
           
            <span
                [escape]="false"
                [pTooltip]="!attendanceIsChosen ? 'Campo desabilitado. <b>Escolha uma data</b> para habilitá-lo.' : '' "
                [tooltipPosition]="'top'">

                <label [ngClass]="'field-label ' + breakpoint" for="hour-dropdown">Escolha um Horário</label>
                <p-dropdown
                    id="hour-dropdown"
                    [styleClass]="'hour-dropdown ' + breakpoint"
                    name="hour"
                    [options]="availableHours"
                    optionLabel="value"
                    (onShow)="getAndSetAvailableHoursOptions()"
                    [(ngModel)]="selectedHour"
                    [required]="true"
                    [disabled]="!attendanceIsChosen"
                    placeholder="Escolha uma opção">    
                </p-dropdown>
            </span>

            <span>
        
                <label [ngClass]="'field-label ' + breakpoint" for="gender-dropdown">Informe seu Gênero</label>
                <p-dropdown
                    id="gender-dropdown"
                    [styleClass]="'gender-dropdown ' + breakpoint"
                    name="gender"
                    [options]="genderList"
                    optionLabel="value"
                    (onShow)="getAndSetGenderOptions()"
                    [(ngModel)]="selectedGender"
                    [required]="true"
                    placeholder="Escolha uma opção">
                </p-dropdown>
            </span>

            <span class="with-margin">

                <label [ngClass]="'field-label ' + breakpoint" for="integeronly">Telephone</label>
                <input
                    id="integeronly"
                    [ngClass]="'phone-input ' + breakpoint"
                    name="phone"
                    mask="(99)99999-9999"
                    [(ngModel)]="phoneInputValue"
                    minLength="14"
                    [required]="true"
                    placeholder="(81)98593-4271"/>              
            </span>

          <span class="with-margin">

                <label [ngClass]="'field-label ' + breakpoint" for="payment-type-dropdown">Forma de Pagamento</label>
                <p-dropdown
                    id="payment-type-dropdown"
                    [styleClass]="'payment-type-dropdown ' + breakpoint"
                    name="paymentType"
                    (onShow)="getAndSetPaymentTypeOptions()"
                    (onChange)="onChangePaymentType($event)"
                    [options]="paymentTypeList"
                    optionLabel="value"
                    [(ngModel)]="paymentTypeSelected"
                    placeholder="Escolha uma opção"
                    [required]="true">
                </p-dropdown>
            </span>

            <span
                class="with-margin"
                [escape]="false"
                [pTooltip]="!isInsuranceAsPayment ? 'Campo desabilitado. Escolha a forma de pagamento <b>Convênio</b> para habilitá-lo.' : '' "
                [tooltipPosition]="'top'">

                <label [ngClass]="'field-label ' + breakpoint" for="insurance-dropdown">Plano de Saúde</label>
                <p-dropdown
                    id="insurance-dropdown"
                    [styleClass]="'insurance-dropdown ' + breakpoint"
                    name="insurance"
                    [options]="insuranceList"
                    optionLabel="insurance"
                    [(ngModel)]="insuranceSelected"
                    placeholder="Escolha uma opção"
                    [disabled]="!isInsuranceAsPayment"
                    [required]="isInsuranceAsPayment">
                </p-dropdown>
            </span>

            <span
                class="with-margin"
                [escape]="false"
                [pTooltip]="attendanceLocationList.length == 0 ? 'Campo desabilitado. <b>Escolha uma forma de pagamento</b> para habilitá-lo.' : '' "
                [tooltipPosition]="'top'">
                <label [ngClass]="'field-label ' + breakpoint" for="location-attendance-dropdown">Local de Atendimento</label>
                <p-dropdown
                    id="location-attendance-dropdown"
                    [styleClass]="'location-attendance-dropdown ' + breakpoint"
                    name="location"
                    [options]="attendanceLocationList"
                    optionLabel="location"
                    (onChange)="changeAttendanceLocation()"
                    placeholder="Escolha uma opção"
                    [(ngModel)]="attendanceLocationSelected"
                    [disabled]="attendanceLocationList.length == 0"
                    [required]="true">
                </p-dropdown>
            </span>

            <span
                class="with-margin"
                [escape]="false"
                [pTooltip]="!isMyLocationSelected ? 'Campo desabilitado. Escolha o local de atendimento <b>no endereço de minha preferência</b> para habilitá-lo.' : '' "
                [tooltipPosition]="'top'">

                <label [ngClass]="'field-label ' + breakpoint" for="attendance-city-dropdown">Cidade do atendimento</label>
                <p-dropdown
                    id="attendance-city-dropdown"
                    [styleClass]="'attendance-city-dropdown ' + breakpoint"
                    name="city"
                    [options]="attendanceCityList"
                    optionLabel="city"
                    (onShow)="getAndSetAttendanceCityOptions()"
                    [(ngModel)]="attendanceCitySelected"
                    placeholder="Escolha uma opção"
                    [disabled]="!isMyLocationSelected"
                    [required]="attendanceLocationSelected?.location == 'No endereço de minha preferência' ? true : false">
                </p-dropdown>
            </span>

            <span
                class="with-margin"
                [escape]="false"
                [pTooltip]="!isMyLocationSelected ? 'Campo desabilitado. Escolha o local de atendimento <b>no endereço de minha preferência</b> para habilitá-lo.' : '' "
                [tooltipPosition]="'top'">

                <label [ngClass]="'field-label ' + breakpoint" for="address-input">Endereço</label>
                <input
                    id="address-input"
                    class="{{breakpoint}}"
                    name="address"
                    type="text"
                    pInputText
                    placeholder="Ex: Rua João Inácio, número 500. Pina, Recife."
                    [(ngModel)]="addressInputValue"
                    [disabled]="!isMyLocationSelected"
                    minlength="15"
                    [required]="attendanceLocationSelected?.location == 'No endereço de minha preferência' ? true : false">
            </span>

        </div>

        <app-modal-component
            [type]="'advance-payment'"
            [advanceModaldisplay]="displayAdvanceModal"
            (onConfirmAdvanceModal)="handleAdvanceModal($event)"
            [chosenSchedullingCity]="attendanceCitySelected"
            [advanceModalSchedullingFee]="schedullingFee"
            [schedullingPaymentType]="paymentTypeSelected"
            [formDataToSave]="formData"
            (onCloseAdvanceModal)="closeAdvanceModal()"
            [breakpoint]="breakpoint"
        />
        <app-modal-component
            [type]="'success-terapy-scheduled'"
            [successScheduleModalDisplay]="displaySuccessScheduleModal"
            (onClose)="hideFinishScheduleModal()"
            (onCloseAndBackToHome)="closeSucessModalAndBackHome($event)"
        />

            <footer
                class="buttons-container" 
                [escape]="false"
                [pTooltip]="scheduleForm.form.status == 'INVALID' ? 'Botão desabilitado. Preencha <b>todos os campos habilitados.</b>' : '' "
                [tooltipPosition]="'top'">
                <app-button-component [breakpoint]="breakpoint" (click)="onClickBackButton()" buttonType="backButton-modal" buttonLabel="Voltar para a tela de Terapias"/>
                <app-button-component [breakpoint]="breakpoint" [isSubmitButtonDisabled]="scheduleForm.form.status == 'INVALID'" buttonType="submitButton" buttonLabel="Ir para Finalização de Agendamento"/>
            </footer>
        </form>

</div>