.scheduling-page {
    height: 95rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #E5E5E5;
    
    .schedulling-title {
        color: #555454;
        text-align: center;

        &.mobile {
            font-size: 3.5rem;
            margin-top: 15rem;
        }
        &.tablet {
            font-size: 4.5rem;
            margin-top: 15rem;
        }
 
        &.web-portrait {
            font-size: 5.5rem;
            margin-top: 15rem;
        }
        
        &.web-landscape {
            font-size: 6rem;
            margin-top: 15rem;
        }
    }

    h2 {
        font-size: 3rem;
        color: #555454;
        text-align: center;
    }

    .form-container {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        
        .client-data-container {
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
                
            span {
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                gap: 0.3rem;
                margin-bottom: 4rem;
            }

                .field-label {
                    color: #69cf99;

                    &.mobile {
                        font-size: 1.8rem;
                    }

                    &.tablet {
                        font-size: 2.4rem;
                    }
             
                    &.web-portrait {
                        font-size: 2.8rem;
                    }
                    
                    &.web-landscape {
                        font-size: 3rem;
                    }
                }

                .name-input {
                    height: 5rem;
                    border: 4px solid #69cf99;
                    text-align: center;

                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;
                    }

                    &::placeholder {
                        color: rgb(164, 160, 160);
                        font-size: 1.8rem;
                        }
                    }

                     #cpf-input ::ng-deep .p-inputtext {
                        width: 30rem;
                        height: 5rem;
                        border: 4px solid #69cf99;
                        font-size: 2rem;
                        text-align: center;

                        &::placeholder {
                            color: rgb(164, 160, 160);
                            }
                        }                        
                    
                    ::ng-deep .p-calendar {
                        height: 5rem;
                        border: 4px solid #69cf99;
                        text-align: center;

                        input {
                            &.mobile {
                                width: 24rem;
                                font-size: 1.8rem;
                            }
                        }
                        
                        input {
                            &.tablet {
                                width: 26rem;
                                font-size: 2rem;
                            }
                        }
                        
                        input {
                            &.web-portrait {
                                width: 28rem;
                                font-size: 2.2rem;
                            }
                        }

                        input {
                            &.web-landscape {
                                width: 30rem;
                                font-size: 2.4rem;
                            }
                        }
    
                        &::placeholder {
                            color: rgb(164, 160, 160);

                            &.mobile {
                                font-size: 1.8rem;
                            }
        
                            &.tablet {
                                font-size: 2.2rem;
                            }
                     
                            &.web-portrait {
                                font-size: 2.4rem;
                            }
                            
                            &.web-landscape {
                                font-size: 2rem;
                            }
                                }
                    }

                    ::ng-deep .p-calendar .p-datepicker-prev {
                        width: 3rem;
                        height: 3rem;

                        .p-datepicker-prev-icon {
                            width: 5rem;
                            height: 5rem;
                        }
                    }

                    ::ng-deep .p-calendar .p-datepicker-next {
                        width: 3rem;
                        height: 3rem;

                        .p-datepicker-next-icon {
                            width: 5rem;
                            height: 5rem;
                        }
                    }

                    ::ng-deep .p-calendar .p-datepicker-title {
                        
                        button {
                            font-size: 2rem;
                        
                        }
                    }

                    ::ng-deep .p-calendar .p-datepicker-calendar {
                        width: 20rem;
                        height: 30rem;
                        font-size: 2rem;
                        margin: 0 auto
                    }
                
                   ::ng-deep .p-dropdown {
                    width: 30rem;
                    height: 5rem;
                    border: 4px solid #69cf99;
                    
                    ::ng-deep .p-dropdown-label {
                        font-size: 2.5rem;
                        text-align: center;
                        letter-spacing: 0.5rem;                        
                    }

                    .p-dropdown-trigger {
                     width: 3rem;
                     height: 3rem;
                     margin: 1rem 0.5rem 0 0;
 
                    .p-dropdown-trigger-icon {
                        width: 3rem;
                        height: 3rem;
                        }
                     }

                      .p-dropdown-item {
                        font-size: 2.5rem;
                        text-align: center;
                        letter-spacing: 0.5rem;
                    }
                }
                
                ::ng-deep .hour-dropdown {
                    .p-dropdown-label {
                        letter-spacing: 0.5rem;
                        font-size: 1.6rem;
                    }
                    
                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 1.6rem;
                        }
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;

                        .p-dropdown-label {
                            letter-spacing: 0.4rem;
                            font-size: 1.8rem;
                        }
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;

                        .p-dropdown-label {
                            letter-spacing: 0.6rem;
                            font-size: 2rem;
                        }
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 2.2rem;
                        }
                    }
                }

                ::ng-deep .gender-dropdown {
                    .p-dropdown-label {
                        letter-spacing: 0.5rem;
                        font-size: 1.6rem;
                    }
                    
                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 1.6rem;
                        }
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;

                        .p-dropdown-label {
                            letter-spacing: 0.4rem;
                            font-size: 1.8rem;
                        }
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;

                        .p-dropdown-label {
                            letter-spacing: 0.6rem;
                            font-size: 2rem;
                        }
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 2.2rem;
                        }
                    }
                }

                ::ng-deep .payment-type-dropdown {
                    .p-dropdown-label {
                        letter-spacing: 0.5rem;
                        font-size: 1.6rem;
                    }
                    
                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 1.6rem;
                        }
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;

                        .p-dropdown-label {
                            letter-spacing: 0.4rem;
                            font-size: 1.8rem;
                        }
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;

                        .p-dropdown-label {
                            letter-spacing: 0.6rem;
                            font-size: 2rem;
                        }
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 2.2rem;
                        }
                    }
                }

                ::ng-deep .insurance-dropdown {
                    .p-dropdown-label {
                        letter-spacing: 0.5rem;
                        font-size: 1.6rem;
                    }
                    
                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 1.6rem;
                        }
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;

                        .p-dropdown-label {
                            letter-spacing: 0.4rem;
                            font-size: 1.8rem;
                        }
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;

                        .p-dropdown-label {
                            letter-spacing: 0.6rem;
                            font-size: 2rem;
                        }
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 2.2rem;
                        }
                    }
                }

                ::ng-deep .location-attendance-dropdown {
                    .p-dropdown-label {
                        letter-spacing: 0.5rem;
                        font-size: 1.6rem;
                    }
                    
                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 1.6rem;
                        }
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;

                        .p-dropdown-label {
                            letter-spacing: 0.4rem;
                            font-size: 1.8rem;
                        }
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;

                        .p-dropdown-label {
                            letter-spacing: 0.6rem;
                            font-size: 2rem;
                        }
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 2.2rem;
                        }
                    }
                }

                ::ng-deep .attendance-city-dropdown {
                    
                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;
                        
                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 1.6rem;
                        }
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;

                        .p-dropdown-label {
                            letter-spacing: 0.4rem;
                            font-size: 1.8rem;
                        }
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;

                        .p-dropdown-label {
                            letter-spacing: 0.6rem;
                            font-size: 2rem;
                        }
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;

                        .p-dropdown-label {
                            letter-spacing: 0.2rem;
                            font-size: 2.2rem;
                        }
                    }
                }

                .phone-input {
                    height: 5rem;
                    border: 4px solid #69cf99;
                    text-align: center;

                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;
                    }

                    &::placeholder {
                        color: rgb(164, 160, 160);
                        font-size: 1.8rem;
                            }
                    
                        }

                    #address-input {
                        height: 5rem;
                        border: 4px solid #69cf99;
                        text-align: center;

                    &.mobile {
                        width: 24rem;
                        font-size: 1.8rem;
                    }

                    &.tablet {
                        width: 26rem;
                        font-size: 2.2rem;
                    }
             
                    &.web-portrait {
                        width: 28rem;
                        font-size: 2.4rem;
                    }
                    
                    &.web-landscape {
                        font-size: 2rem;
                        width: 30rem;
                    }

                    &::placeholder {
                        color: rgb(164, 160, 160);
                        font-size: 1.8rem;
                            }
                    
                        }

                    }
                }
                
    .buttons-container {
        height: 1.5rem;
        width: 50vw;
        display: flex;
        justify-content: space-around;
        margin-bottom: 4rem;
    }

}

::ng-deep .p-tooltip .p-tooltip-text {
    width: 32rem;
    font-size: 2.2rem;
    color: #FFF;
}