<div class="card">
    <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
        </ng-template>

        <ng-template pTemplate="content" let-event>
                <p-card [header]="event.passo">

                    <div class="info-container" *ngIf="event.teraphy_choices">
                            <img src="../assets{{serviceInfos[serviceInfosIndex].img}}" alt="Imagem de terapia fisioterapêutica"/>
                            <p class="service-description">
                            {{serviceInfos[serviceInfosIndex].description}}    
                            </p>
                    </div>

                    <div class="control-container" *ngIf="event.teraphy_choices">
                        <span *ngIf="serviceInfosIndex >= 1" (click)="previousTeraphy()" style="font-size: 3em; color: black; cursor: pointer"><fa-icon [icon]="backIcon"></fa-icon></span>
                        <button class="select-button">Selecionar</button>
                        <span *ngIf="serviceInfosIndex < 3" (click)="nextTeraphy()" style="font-size: 3em; color: black; cursor: pointer"><fa-icon [icon]="nextIcon"></fa-icon></span>
                    </div>

                </p-card>
        </ng-template>
    </p-timeline>