::ng-deep .p-card-content {
    display: grid;
    grid-template-columns: 1fr;

    .info-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    ::ng-deep img {
        border: 2px solid black;
        border-radius: 5px;
        max-width: 185px;
        max-height: 185px;
    }

    .service-description {
        height: 12rem;
        max-width: 70rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: black;
        margin-top: 20px;
    }
}


.control-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

    .select-button {
        height: 4rem;
        width: 40rem;
        font-size: 2.5rem;
        background-color: rgb(215 97 215);
        border: 3px solid blueviolet;
        cursor: pointer;

        &:hover {
            transition: 300ms;
            background-color: rgb(237, 130, 237);
        }
    }
}


.fields-filling {
    width: 92.5rem;

    .fields-container-up {
        width: 85.5rem;
        display: grid;
        grid-template-columns: 20rem 15rem 8rem 20rem;
        justify-content: space-between;
        align-items: center;

        input {
            height: 3rem;
            border: 2px solid #495057;
            border-radius: 3px;
            text-align: center;
        }
    }

    .fields-container-down {
        margin-top: 30px;
        width: 85.5rem;
        display: grid;
        grid-template-columns: 15rem 25rem 13rem;
        justify-content: space-between;
        align-items: center;

        input {
            height: 3rem;
            border: 2px solid #495057;
            border-radius: 3px;
            text-align: center;
        }

    }


}



.scheduling-container {
    height: 42rem;
    background-color: none;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    .select-button {
        height: 4rem;
        width: 40rem;
        font-size: 2.5rem;
        background-color: rgb(215 97 215);
        border: 3px solid blueviolet;
        cursor: pointer;
        margin-top: 2.5rem;

        &:hover {
            transition: 300ms;
            background-color: rgb(237, 130, 237);
        }
    }

    ::ng-deep .p-calendar .p-datepicker {
        max-height: 40rem;
        min-width: 65rem;


        ::ng-deep .p-datepicker-header {
            .p-datepicker-title button {
                font-size: 2rem;
            }

            .p-datepicker-prev {
                border: 2px solid greenyellow;
            }

            .p-datepicker-next {
                border: 2px solid greenyellow;
            }
        }

        ::ng-deep table td>span {
            font-size: 2rem;
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}