@import "primeicons/primeicons.css";


html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}